body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* centraliza verticalmente */
    margin: 0;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 12px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}
