body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #eb0822, #f03131); /* novo fundo degradê */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(243, 155, 155);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    text-align: center;
}

h1 {
    color: #39e664;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ec0b0b;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao-container {
    margin-top: 25px;
}

button {
    padding: 12px;
    cursor: pointer;
    background-color: #e63946;
    color: rgb(248, 233, 233);
    border: none;
    border-radius: 6px;
    transition: background 0.3s;
    width: 160px;
}

button:hover {
    background-color: #0bd3c9;
}

.descricao {
    font-size: 14px;
    color: #222;
    margin-top: -10px;
    margin-bottom: 20px;
}

#resultado {
    font-weight: bold;
    color: #072747;
    margin-top: 15px;
    background-color: #f1f5fb; /* fundo leve */
    padding: 10px;             /* espaço interno */
    border-radius: 6px;        /* borda arredondada */
}

.resultado-placeholder {
    color: #444;
    font-style: italic;
}
